body {
	background-color: yellow;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#deck-section {
	background-color: purple;
	color: #ececec;
}

#board-section {
	background-color: green;	
}

#deck, #see {
	height: 200px;
}
